/*  Auth StyleSheet */
@import "navbar";
@import "../../mixins/breakpoint";
@import "../../valiables/colors";

.conditions-container {
    .col-md-11 {
        padding: 0;
    }

    .text-header {
        color: $green-light;
        margin-top: 20px;

        h3 {
            font-weight: 500;
            line-height: 1;
        }
    }

    .text-detials {
        color: rgb(84, 84, 84);
        margin-top: 20px;
        margin-bottom: 20px;

        p {
            font-size: 17px;
            font-weight: 300;
            line-height: 1.3;

            &.text-indent-30 {
                text-indent: 30px;
            }
        }
    }

    .text-conditions {
        .condition-requirement {
            margin-top: 15px;

            h5 {
                color: $green-light;
                font-size: 1.3rem;
            }
        }

        .condition-list {
            color: rgb(84, 84, 84);
            font-size: 17px;
            font-weight: 300;
            line-height: 1.3;

            .nav {
                margin-left: 25px;

                .list {
                    list-style-type: decimal;
                    margin-bottom: 5px;
                }
            }
        }
    }

    .agreement {
        font-size: 17px;
        font-weight: 300;
        line-height: 1.3;
        margin: 20px auto;

        .text-agree {
            color: rgb(84, 84, 84);
            text-indent: 30px;
        }
    }

    .condition-form {
        fieldset {
            &.custom {
                padding-bottom: 15px;
                border: 1px solid rgba(97, 97, 97, 0.214) !important;
            }

            legend {
                margin-bottom: 0;
                font-weight: 300;
                font-size: 20px !important;
                margin-left: 25px !important;
                color: rgb(84, 84, 84);
            }

            form {
                padding: 5px 15px;

                .form-group {
                    color: rgb(84, 84, 84);
                    font-size: 18px;
                    font-weight: 300;
                    padding: 0;
                    margin-top: 5px;
                    margin-bottom: 20px;
                    &:nth-of-type(3) {
                        margin: 0;
                    }
                    label {
                        padding: 0;
                        margin: 0;
                    }
                    input {
                        border-color: rgba(121, 121, 121, 0.187);
                        &:focus {
                            border-color: rgba(140, 140, 140, 0.365);
                        }
                    }
                    button {
                        margin-top: 25px;
                        width: 100%;
                        &.btn {
                            border-radius: 0;
                            -webkit-border-radius: 0;
                            -moz-border-radius: 0;
                            -ms-border-radius: 0;
                            -o-border-radius: 0;
                        }
                    }
                }

                @include breakpoint(500px, min) {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-template-rows: 1fr;
                    grid-template-areas:
                        "left left right right"
                        "bottom bottom bottom bottom";
                    grid-gap: 10px;

                    div {
                        &:nth-of-type(1) {
                            grid-area: left;
                        }

                        &:nth-of-type(2) {
                            grid-area: right;
                        }

                        &:nth-of-type(3) {
                            grid-area: bottom;
                        }
                    }
                }

                label.error {
                    position: absolute;
                    font-size: 15px;
                    font-weight: 400;
                    margin-top: 3px;
                    color: $orenge-2;
                }
            }
        }

        @include breakpoint(999px, min) {
            width: 700px;
            button {
                margin-top: 0px !important;
                max-width: 350px;
            }
        }
    }

    @include breakpoint(500px, min) {
        .text-header {
            h3 {
                font-size: 1.7rem;
            }
        }
    }

    @include breakpoint(800px, min) {
        .text-header {
            margin-top: 50px;

            h3 {
                font-size: 2.3rem;
            }
        }

        .agreement {
            margin-bottom: 50px;
        }
    }

    @include breakpoint(1200px, max) {
        @include breakpoint(1024px, min) {
            .text-header {
                margin-top: 30px;

                h3 {
                    font-size: 2.5rem;
                }
            }
        }
    }

    @include breakpoint(1400px, min) {
        .text-header {
            margin-top: 50px;
            margin-bottom: 50px;

            h3 {
                font-size: 3rem;
            }
        }

        .text-detials .text-indent-30,
        .list,
        .text-agree {
            font-weight: 300 !important;
            font-size: 23px;
            line-height: 1.4;
        }

        .text-conditions {
            h5 {
                font-size: 30px !important;
            }
        }
    }
    @include breakpoint(2000px, min) {
        .text-header {
            margin-top: 100px;
        }
    }
}
